<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="" method="post">
    
    <div class="mb-3 form-group">
        <label for="blog">Name</label>
        <input type="text" class="form-control" name="blog" id="">
      </div>
    <div class="mb-3 form-group">
        <label for="message">Message</label>
        <textarea name="message" class="form-control" id="" cols="30" rows="10"></textarea>
      </div>

        <button type="submit" class="btn btn-primary">Publish</button>
    
</form>


<%- include("partials/footer") -%> 